<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
        <style>
        body {
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #eee;
        }
    </style>
    <link href="/static/css/bootstrap.css" rel="stylesheet">

</head>
<body>
<center><h2>Tạo tài khoản</h2></center>

<form action="/account/register/" method="post"> {% csrf_token %}
    {{ form }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng ký</button>

</form>

</body>
</html>